@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 8% 0.1% 91%;
}

.docket {
  padding: 1rem;
  /* background-color: aqua; */
}

.docket h3 {
  margin: 1rem 0 2.5rem 0;
  text-align: center;
}

.new-note {
  width: 3rem;
  height: auto;

  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;

  transition: 0.4s all ease;
}

.circle {
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 50%;
  margin-bottom: 0.7rem;

  display: none;
}

.new-note:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.new-note:hover ~ .circle {
  display: block;
}

.line {
  border-left: 1px solid black;
  height: auto;
}

.notes {
  padding: 1rem;
}

input {
  border: none;
  margin: 1rem 0 2rem 0;
  padding: 0.5rem;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.notes-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  height: 400px;
}

.note {
  position: relative;
  padding: 0.5rem;
  background-color: white;
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.note-heading {
  margin-bottom: 0.2rem;
}

.date-added {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

.edit {
  display: none;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  width: 2rem;
  height: auto;
  cursor: pointer;
}

.note:hover .edit {
  display: block;
}

.edit:hover {
  transform: scale(1.1);
}

.note-1 {
  background-color: #fdc770;
}

.note-2 {
  background-color: #fc9871;
}

.note-3 {
  background-color: #b491fb;
}

.note-4 {
  background-color: #e2ec8d;
}

.note-5 {
  background-color: #00d3fd;
}
